[submodule "mediaengine/webrtc"]
	path = mediaengine/webrtc
	url = https://chromium.googlesource.com/external/webrtc/trunk/webrtc.git
[submodule "contrib/generic-message-proto"]
	path = contrib/generic-message-proto
	url = https://github.com/wireapp/generic-message-proto.git
[submodule "contrib/cryptobox-c"]
	path = contrib/cryptobox-c
	url = https://github.com/wireapp/cryptobox-c.git
[submodule "contrib/opus"]
	path = contrib/opus
	url = https://github.com/xiph/opus.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "mediaengine/libyuv"]
	path = mediaengine/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "contrib/usrsctp"]
	path = contrib/usrsctp
	url = git@github.com:sctplab/usrsctp.git
[submodule "contrib/rem"]
	path = contrib/rem
	url = https://github.com/creytiv/rem.git
[submodule "contrib/rew"]
	path = contrib/rew
	url = https://github.com/wireapp/rew.git
[submodule "contrib/openssl"]
	path = contrib/openssl
	url = git@github.com:openssl/openssl.git
[submodule "contrib/re"]
	path = contrib/re
	url = https://github.com/wireapp/re.git
[submodule "contrib/sodium"]
	path = contrib/sodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "contrib/libvpx"]
	path = contrib/libvpx
	url = git@github.com:wireapp/libvpx.git
