*.[oa]
.*.swp
*.class
bin
gen
libs
obj
local.properties
*.log

/netprobe
/verifyd
/vidloop
/zcall
/coin
/tmp
/scripts/tmp

/build
.DS_STORE
xcuserdata
xcshareddata
zcontrib
ztest
sectest
sftloader
devtools
BUILDCONTROL.local
artifacts
version.buildinfo
*.jnilib
config.mk

test/audio_test/ios/build/
tools/zmm/build/

*.aecdump
*.rtpdump

test/data/near16_out.pcm
test/data/near32_out.pcm
test/data/out.pcm
test/data/out2.pcm
test/data/rtp.dat

android/java/org/
android/lib/build/

src/protobuf/proto/

contrib/webrtc

scan/
devtools/


# Ignore Gradle project-specific cache directory
.gradle

